@import "tailwindcss";

@theme {
  --font-mono: "Chivo Mono", monospace;
}

* {
  font-family: "Work Sans", sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
